header
  nav.navbar.navbar-default
   .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(
          type="button"
          data-toggle="collapse"
          data-target="#navbar"
          aria-expanded="false"
          aria-controls="navbar"
        )
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a.navbar-brand('[routerLink]'="['/']") Recipe book
      div.collapse.navbar-collapse#navbar
        ul.nav.navbar-nav
          li('routerLinkActive'="active")
            a('[routerLink]'="['/recipes']") Recipes
          li('routerLinkActive'="active")
            a('[routerLink]'="['/shopping-list']") Shopping list
        ul.nav.navbar-nav.navbar-right
          li.dropdown('appDropdown')
            a.dropdown-toggle(style="cursor: pointer;" role="button") Manage
              span.caret
            ul.dropdown-menu
              li
                a(style="cursor: pointer;" '(click)'="onSaveData()") Save data
              li
                a(style="cursor: pointer;" '(click)'="onFetchData()") Fetch data
